<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iranplanner.tourism.iranplanner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="myapp.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE"/>-->


    <application
        android:name=".di.model.App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SendPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.notifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.StandardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ReservationListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GetTokenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <!-- <activity android:name=".activity.SearchCityCityActivity" />-->
        <!-- App Indexing. See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.activity.MoreItemItineraryActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MapFullActivity"
            android:label="@string/title_activity_map_full"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ShowAttractionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.attractionDetailActivity"
            android:label="@string/title_activity_attraction_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GridActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ReservationHotelListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ReservationHotelDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CommentListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ShowRoomActivity"
            android:screenOrientation="portrait" />

        <!-- Firebase Notifications -->
        <service android:name="server.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="server.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->
        <receiver android:name="tools.SmsListener">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="99164a3830139c22424702ada3eeee9501d88ab9" />
    </application>

</manifest>