<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iranplanner.tourism.iranplanner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="myapp.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".di.model.App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="allowBackup,supportsRtl">
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />

        <activity
            android:name=".ui.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.iranplanner.com"
                    android:path="/android-app"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.mainActivity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.reqestHotelStatus.HotelReservationStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.confirmHotelReservation.ActivityHotelReservationConfirm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.editprofile.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.getPhoneNumber.SendPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.notifyActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.ScrollingActivity" />
        <activity
            android:name=".ui.activity.hotelReservationListOfCity.ReservationListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.attractioListMore.ShowAttractionListMoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.getToken.GetTokenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.moreItemItinerary.MoreItemItineraryActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MapFullActivity"
            android:label="@string/title_activity_map_full"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.showAttraction.ShowAttractionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.attractionDetails.attractionDetailActivity"
            android:label="@string/title_activity_attraction_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GridActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.reservationHotelList.ReservationHotelListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.hotelDetails.ReservationHotelDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.comment.CommentListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.showRoom.ShowRoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ActivityReservationRegisterRoom"
            android:screenOrientation="portrait" />
        <!-- Firebase Notifications -->
        <service android:name="server.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="server.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->
        <receiver android:name="tools.SmsListener">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="99164a3830139c22424702ada3eeee9501d88ab9" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.activity.ScrollingActivity1"
            android:label="@string/title_activity_scrolling1"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.activity.reservationRequestList.ReservationRequestActivity" />
        <activity android:name=".ui.activity.reservationRequestList.ReservationRequestDetailActivity" />
        <activity android:name=".ui.activity.event.EventListActivity" />
        <activity android:name=".ui.activity.event.EventActivity" />
        <activity android:name=".ui.tutorial.TutorialActivity" />
        <activity android:name=".ui.navigationDrawer.ContactUsActivity" />
        <activity android:name=".ui.navigationDrawer.AboutUsActivity" />
        <activity android:name=".ui.activity.forgetPassword.ForgetPasswordActivity"></activity>
    </application>

</manifest>